aiohappyeyeballs
aiohttp
aiosignal
altgraph
anyio
APScheduler
attrs
beautifulsoup4
blinker
bs4
certif
cffi
charset-normalizer
click
cloudscraper
colorama
configparser
customtkinter
darkdetect
fade
fake-useragent
Flask
flask-cors
Flask-SQLAlchemy
frozenlist
greenlet
h11
h2
hpack
httpagentparser
httpcore
httpx
hyperframe
idna
itsdangerous
Jinja2
keyboard
lxml
MarkupSafe
MouseInfo
multidict
numpy
opentele
outcome
packaging
pefile
pillow
playwright
propcache
pyaes
pyarmor
pyarmor.cli.core
pyasn1
PyAutoGUI
pycparser
pyee
PyGetWindow
pyinstaller
pyinstaller-hooks-contrib
PyMsgBox==
pyparsing
pyperclip
PyQt5
PyQt5-Qt5
PyQt5_sip
PyRect
Pyrogram
PyScreeze
PySocks
pytesseract
python-dotenv
python-pptx=
python-telegram-bot
pythonping
pytweening
pytz
pywin32-ctypes
requests
requests-toolbelt
rfc3986
rsa
schedule
selenium
six
sniffio
sortedcontainers
soupsieve
SQLAlchemy
Telethon
TgCrypto
trio
trio-websocket
typing_extensions
tzdata
tzlocal
ua-parser
ua-parser-builtins
undetected-chromedriver
urllib3
vk-api
webdriver-manager
websocket-client
websockets
Werkzeug
wsproto
XlsxWriter
yarl
