aiohttp
aiosignal
anyio
APScheduler
attrs
beautifulsoup4
blinker
certifi
cffi
charset-normalizer
click
cloudscraper
colorama
configparser
fake-useragent
Flask
flask-cors
Flask-SQLAlchemy
h11
h2
httpcore
httpx
idna
itsdangerous
Jinja2
lxml
MarkupSafe
multidict
numpy
packaging
pillow
pyaes
pyasn1
pyparsing
Pyrogram
PySocks
pytesseract
python-dotenv
python-pptx
pytz
requests
requests-toolbelt
rsa
schedule
six
sniffio
SQLAlchemy
Telethon
TgCrypto
typing_extensions
tzdata
tzlocal
urllib3
vk-api
websocket-client
websockets
Werkzeug
XlsxWriter
yarl
gunicorn
pyTelegramBotAPI
